-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sala03v2_4
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auditoria`
--

DROP TABLE IF EXISTS `auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditoria` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tabla` varchar(50) DEFAULT NULL,
  `accion` varchar(20) DEFAULT NULL,
  `id_registro` int(11) DEFAULT NULL,
  `antes` text DEFAULT NULL COMMENT 'Estado del registro previo a la modificación (Formato JSON/Texto)',
  `despues` text DEFAULT NULL COMMENT 'Estado del registro posterior a la modificación (Trazabilidad)',
  `usuario_bd` varchar(50) DEFAULT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditoria`
--

LOCK TABLES `auditoria` WRITE;
/*!40000 ALTER TABLE `auditoria` DISABLE KEYS */;
INSERT INTO `auditoria` VALUES (1,'AYUDA_SOCIAL','ACTUALIZAR',202,'Estatus: Atencion','Estatus: Atencion cliente','root@localhost','2026-03-11 20:26:12');
/*!40000 ALTER TABLE `auditoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ayuda_social`
--

DROP TABLE IF EXISTS `ayuda_social`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ayuda_social` (
  `id_ayuda` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Número correlativo de la solicitud',
  `ticket_interno` varchar(20) DEFAULT NULL,
  `id_beneficiario` int(11) NOT NULL COMMENT 'FK: Enlace con los datos personales del solicitante',
  `id_usuario` int(11) DEFAULT NULL,
  `tipo_ayuda` varchar(100) DEFAULT NULL,
  `solicitud_ayuda` varchar(100) DEFAULT NULL COMMENT 'Estado administrativo: PENDIENTE, ENTREGADO, EN ESPERA',
  `fecha_ayuda` date DEFAULT NULL,
  `codigo_ayuda` varchar(20) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `estado` int(1) DEFAULT 0,
  PRIMARY KEY (`id_ayuda`),
  KEY `fk_as_benef` (`id_beneficiario`),
  KEY `fk_as_user` (`id_usuario`),
  CONSTRAINT `fk_as_benef` FOREIGN KEY (`id_beneficiario`) REFERENCES `beneficiarios` (`id_beneficiario`) ON DELETE CASCADE,
  CONSTRAINT `fk_as_user` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=222 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ayuda_social`
--

LOCK TABLES `ayuda_social` WRITE;
/*!40000 ALTER TABLE `ayuda_social` DISABLE KEYS */;
/*!40000 ALTER TABLE `ayuda_social` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `beneficiarios`
--

DROP TABLE IF EXISTS `beneficiarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `beneficiarios` (
  `id_beneficiario` int(11) NOT NULL AUTO_INCREMENT,
  `nacionalidad` enum('V','E') DEFAULT 'V',
  `cedula` int(11) NOT NULL,
  `nombre_beneficiario` varchar(150) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `comunidad` varchar(100) DEFAULT NULL,
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  `activo` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id_beneficiario`),
  UNIQUE KEY `cedula` (`cedula`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `beneficiarios`
--

LOCK TABLES `beneficiarios` WRITE;
/*!40000 ALTER TABLE `beneficiarios` DISABLE KEYS */;
INSERT INTO `beneficiarios` VALUES (1,'V',26634695,'Alejandro Chirinos','04244360489','tocuyito','2026-02-21 18:44:33',1),(2,'V',24329534,'Laura Franco','04244668450','valencia','2026-02-21 18:44:33',1);
/*!40000 ALTER TABLE `beneficiarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bitacora`
--

DROP TABLE IF EXISTS `bitacora`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bitacora` (
  `id_bitacora` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) DEFAULT NULL,
  `resumen` varchar(100) NOT NULL COMMENT 'Descripción breve de la acción realizada por el usuario',
  `detalle` text DEFAULT NULL,
  `ipaddr` varchar(45) DEFAULT '127.0.0.1' COMMENT 'Dirección IP desde donde se realizó la operación',
  `moment` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_bitacora`),
  KEY `fk_bit_user` (`id_usuario`),
  CONSTRAINT `fk_bit_user` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bitacora`
--

LOCK TABLES `bitacora` WRITE;
/*!40000 ALTER TABLE `bitacora` DISABLE KEYS */;
/*!40000 ALTER TABLE `bitacora` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dependencias`
--

DROP TABLE IF EXISTS `dependencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dependencias` (
  `id_dependencia` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_dependencia` varchar(100) NOT NULL,
  PRIMARY KEY (`id_dependencia`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dependencias`
--

LOCK TABLES `dependencias` WRITE;
/*!40000 ALTER TABLE `dependencias` DISABLE KEYS */;
INSERT INTO `dependencias` VALUES (1,'Informática'),(2,'Atención al Ciudadano'),(3,'Catastro'),(4,'Sala Situacional'),(5,'Auditoría Interna'),(6,'Dirección General'),(7,'Registro Civil');
/*!40000 ALTER TABLE `dependencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleados`
--

DROP TABLE IF EXISTS `empleados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleados` (
  `id_empleado` int(11) NOT NULL AUTO_INCREMENT,
  `cedula` int(11) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `id_dependencia` int(11) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_empleado`),
  UNIQUE KEY `cedula` (`cedula`),
  KEY `fk_emp_dependencia` (`id_dependencia`),
  CONSTRAINT `fk_emp_dependencia` FOREIGN KEY (`id_dependencia`) REFERENCES `dependencias` (`id_dependencia`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleados`
--

LOCK TABLES `empleados` WRITE;
/*!40000 ALTER TABLE `empleados` DISABLE KEYS */;
INSERT INTO `empleados` VALUES (1,24571601,'Italo','Administrador',4,NULL,NULL),(2,26634695,'Alejandro','Operador',4,NULL,NULL),(3,11111111,'Juan','Pérez',4,'0412-1111111','Sector 1, Tocuyito'),(4,22222222,'Pedro','Gómez',4,'0412-2222222','Sector 2, Tocuyito'),(5,30111222,'Carlos','Rodríguez',4,'0412-5556677','Casco Central, Tocuyito'),(6,30333444,'José','Hernández',4,'0424-8889900','Sector El Molino'),(7,12345678,'Elsy','Usuario',1,NULL,NULL),(8,99999999,'Elsy','Administrador',1,NULL,NULL);
/*!40000 ALTER TABLE `empleados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permisos`
--

DROP TABLE IF EXISTS `permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permisos` (
  `id_permiso` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_permiso` varchar(100) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_permiso`),
  UNIQUE KEY `nombre_permiso` (`nombre_permiso`)
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permisos`
--

LOCK TABLES `permisos` WRITE;
/*!40000 ALTER TABLE `permisos` DISABLE KEYS */;
INSERT INTO `permisos` VALUES (1,'Escritorio','Dashboard principal'),(2,'Concepto','Configuraciones básicas'),(3,'Ayuda','Módulo Ayuda Social'),(4,'Emergencia','Módulo Seguridad'),(5,'Publicos','Módulo Servicios Públicos'),(6,'Usuarios','Gestión de Cuentas'),(7,'Tribunal','Módulo Legal'),(8,'Chofer','Permiso para realizar reportes de traslado y ambulancia'),(99,'ACCESO TOTAL SISTEMA',NULL);
/*!40000 ALTER TABLE `permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reportes_traslado`
--

DROP TABLE IF EXISTS `reportes_traslado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reportes_traslado` (
  `id_reporte` int(11) NOT NULL AUTO_INCREMENT,
  `id_ayuda` int(11) NOT NULL,
  `id_seguridad` int(11) DEFAULT NULL,
  `id_usuario_operador` int(11) NOT NULL,
  `id_empleado_chofer` int(11) NOT NULL,
  `id_unidad` int(11) NOT NULL,
  `ticket_interno` varchar(20) NOT NULL,
  `fecha_hora` datetime DEFAULT current_timestamp(),
  `diagnostico_paciente` text DEFAULT NULL,
  `foto_evidencia` varchar(255) DEFAULT NULL,
  `km_salida` int(11) DEFAULT NULL,
  `km_llegada` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_reporte`),
  KEY `fk_rep_ayuda_final` (`id_ayuda`),
  KEY `fk_rep_user_final` (`id_usuario_operador`),
  KEY `fk_rep_unit_final` (`id_unidad`),
  KEY `fk_rep_seguridad` (`id_seguridad`),
  KEY `fk_rep_chofer_emp` (`id_empleado_chofer`),
  CONSTRAINT `fk_rep_ayuda_final` FOREIGN KEY (`id_ayuda`) REFERENCES `ayuda_social` (`id_ayuda`),
  CONSTRAINT `fk_rep_chofer_emp` FOREIGN KEY (`id_empleado_chofer`) REFERENCES `empleados` (`id_empleado`),
  CONSTRAINT `fk_rep_seguridad` FOREIGN KEY (`id_seguridad`) REFERENCES `seguridad` (`id_seguridad`) ON DELETE SET NULL,
  CONSTRAINT `fk_rep_unit_final` FOREIGN KEY (`id_unidad`) REFERENCES `unidades` (`id_unidad`),
  CONSTRAINT `fk_rep_user_final` FOREIGN KEY (`id_usuario_operador`) REFERENCES `usuarios` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reportes_traslado`
--

LOCK TABLES `reportes_traslado` WRITE;
/*!40000 ALTER TABLE `reportes_traslado` DISABLE KEYS */;
/*!40000 ALTER TABLE `reportes_traslado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguridad`
--

DROP TABLE IF EXISTS `seguridad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seguridad` (
  `id_seguridad` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_interno` varchar(20) DEFAULT NULL,
  `id_beneficiario` int(11) NOT NULL,
  `id_usuario` int(11) DEFAULT NULL,
  `tipo_seguridad` varchar(100) DEFAULT NULL,
  `tipo_solicitud` varchar(100) DEFAULT NULL,
  `fecha_seguridad` date DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `estado` int(1) DEFAULT 0,
  PRIMARY KEY (`id_seguridad`),
  KEY `fk_seg_benef` (`id_beneficiario`),
  CONSTRAINT `fk_seg_benef` FOREIGN KEY (`id_beneficiario`) REFERENCES `beneficiarios` (`id_beneficiario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguridad`
--

LOCK TABLES `seguridad` WRITE;
/*!40000 ALTER TABLE `seguridad` DISABLE KEYS */;
INSERT INTO `seguridad` VALUES (3,NULL,1,1,'Suprecion de incendio','Atencion','2026-02-23','ddd',1),(4,NULL,2,1,'Traslado','Atencion','2026-02-28','12345678',1);
/*!40000 ALTER TABLE `seguridad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicios_publicos`
--

DROP TABLE IF EXISTS `servicios_publicos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servicios_publicos` (
  `id_servicio` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_interno` varchar(20) DEFAULT NULL,
  `id_beneficiario` int(11) NOT NULL,
  `id_usuario` int(11) DEFAULT NULL,
  `tipo_servicio` varchar(100) DEFAULT NULL,
  `solicitud_servicio` varchar(100) DEFAULT NULL,
  `fecha_servicio` date DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `estado` int(1) DEFAULT 0,
  PRIMARY KEY (`id_servicio`),
  KEY `fk_ser_benef` (`id_beneficiario`),
  CONSTRAINT `fk_ser_benef` FOREIGN KEY (`id_beneficiario`) REFERENCES `beneficiarios` (`id_beneficiario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicios_publicos`
--

LOCK TABLES `servicios_publicos` WRITE;
/*!40000 ALTER TABLE `servicios_publicos` DISABLE KEYS */;
INSERT INTO `servicios_publicos` VALUES (1,'d',1,1,'Vial','Atencion','2026-02-23','d',1);
/*!40000 ALTER TABLE `servicios_publicos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unidades`
--

DROP TABLE IF EXISTS `unidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `unidades` (
  `id_unidad` int(11) NOT NULL AUTO_INCREMENT,
  `codigo_unidad` varchar(20) NOT NULL,
  `descripcion` varchar(100) DEFAULT NULL,
  `placa` varchar(15) NOT NULL,
  PRIMARY KEY (`id_unidad`),
  UNIQUE KEY `codigo_unidad` (`codigo_unidad`),
  UNIQUE KEY `placa` (`placa`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unidades`
--

LOCK TABLES `unidades` WRITE;
/*!40000 ALTER TABLE `unidades` DISABLE KEYS */;
INSERT INTO `unidades` VALUES (1,'AMB-01','Ambulancia Ford Transit','ABC-123');
/*!40000 ALTER TABLE `unidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_permisos`
--

DROP TABLE IF EXISTS `usuario_permisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario_permisos` (
  `id_usuario_permiso` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `id_permiso` int(11) NOT NULL,
  PRIMARY KEY (`id_usuario_permiso`),
  KEY `fk_p_permisos` (`id_permiso`),
  KEY `fk_u_permisos` (`id_usuario`),
  CONSTRAINT `fk_p_permisos` FOREIGN KEY (`id_permiso`) REFERENCES `permisos` (`id_permiso`),
  CONSTRAINT `fk_u_permisos` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_permisos`
--

LOCK TABLES `usuario_permisos` WRITE;
/*!40000 ALTER TABLE `usuario_permisos` DISABLE KEYS */;
INSERT INTO `usuario_permisos` VALUES (15,2,8),(21,3,8),(22,4,8),(23,1,99),(24,1,3),(25,1,8),(26,1,2),(27,1,4),(28,1,1),(29,1,5),(30,1,7),(31,1,6),(38,1,99),(39,1,3),(40,1,8),(41,1,2),(42,1,4),(43,1,1),(44,1,5),(45,1,7),(46,1,6),(53,5,99),(54,5,8);
/*!40000 ALTER TABLE `usuario_permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id_usuario` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Clave primaria: Identificador único del sistema',
  `id_empleado` int(11) NOT NULL,
  `id_dependencia` int(11) NOT NULL COMMENT 'FK: Vincula al usuario con su oficina de adscripción',
  `usuario` varchar(50) NOT NULL,
  `password` varchar(64) NOT NULL,
  `rol` enum('ADMIN','OPERADOR','CONSULTOR') DEFAULT 'OPERADOR' COMMENT 'Nivel de acceso: ADMIN(Total), OPERADOR(Escritura), CONSULTOR(Lectura)',
  `estado` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `usuario` (`usuario`),
  KEY `fk_user_emp` (`id_empleado`),
  KEY `fk_user_dep` (`id_dependencia`),
  CONSTRAINT `fk_user_dep` FOREIGN KEY (`id_dependencia`) REFERENCES `dependencias` (`id_dependencia`),
  CONSTRAINT `fk_user_emp` FOREIGN KEY (`id_empleado`) REFERENCES `empleados` (`id_empleado`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,1,1,'prueba','655e786674d9d3e77bc05ed1de37b4b6bc89f788829f9f3c679e7687b410c89b','ADMIN',1),(2,2,2,'operador1','8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92','OPERADOR',1),(3,5,4,'carlos_chofer','8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92','OPERADOR',1),(4,6,4,'jose_chofer','8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92','OPERADOR',1),(5,7,1,'elsy','b94d216526118a80499e743a378292f75a9603387b003a74341b53805ec019e0','ADMIN',1);
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-13  9:38:15
